# Database
POSTGRES_USER=astma
POSTGRES_PASSWORD=CHANGEME_gebruik_een_sterk_wachtwoord

# API
JWT_SECRET=CHANGEME_genereer_een_random_string
AQICN_TOKEN=jouw_aqicn_api_token_hier

# Frontend port
PORT=8080
